<!DOCTYPE html>
<html>
<head>
	<title>Vegan Climbing Shoes</title>
	<link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>

	<!-- ______________________________ARTICLE ___________ -->


	<h1>Vegan Climbing Shoes</h1>
	<img src="./shoe.jpg">
	 


	  <h2>Evolv Defy</h2>
	    <p> 
          The Defy Vtr is “the top selling climbing shoe in the USA. A perfect entry point to quality high performance climbing shoes and an outstanding training shoe. The Defy provides comfort, great fit, and sensitivity to climbers of all levels.” (description from evolvsports.com)
        </p>

      <h2>Evolv Elektra</h2>

        <p> The Elektra is Evolv’s “top selling women’s shoe in the USA. It offers an amazing combination of comfort, performance and value. This shoe is ideal for beginning to advanced climbers and performs in both the gym and on the rock.” (description from evolvsports.com)</p>

      <h2>Evolv Kira</h2>

        <p>New for 2016! “Anatomically engineered parts and design provide the Kira with a comfortable fit without sacrificing performance. It uses a single buckle plus cinch-pull strap closure for convenience and a customizable fit for the modern climber making it one of the best flat-lasted technical all-around shoes on the market. ” (description from evolvsports.com)</p>

      <h2>Evolv Kronos</h2>

        <p>New for 2016! “Anatomically engineered parts and design provide the Kronos with a comfortable fit without sacrificing performance. It uses a single buckle plus cinch-pull strap closure for convenience and a customizable fit for the modern climber making it one of the best flat-lasted technical all-around shoes on the market.” (description from evolvsports.com)</p>

      <h2>Evolv Shaman 2016</h2>

        <p>Evolv redesigned the Shaman for 2016 and it’s now vegan! This new version has “an improved fit in terms of engineered comfort and performance with more toe rubber for toe hooking and an inset front strap for better medial side toe scumming. The upgrade promises to make current customers appreciate the enhancements while getting new customers to enjoy the legendary performance with comfort.” (description from evolvsports.com)</p>

      <h2>Evolv Venga Kid’s</h2>

        <p>The Evolv Vengs Kid’s “sports a modern look, real rock shoe performance, comfortable fit and a size adjusting heel strap for growing kids.” (description from evolvsports.com)</p>

	


<!-- ______________________________EXISTING COMMENTS ___________ -->

<h1>Comments</h1>

	 <button class="btn-add"> add comment </button> 

		<table>
			<tr>
			
				<th>Name:</th>
				<th>Date::</th>
				<th>Title:</th>
				<th>Comment:</th>
			</tr>

			<% for(let i in result.rows) { %>
			<tr>
				<td> <%= result.rows[i].name %> </td>
				<td> <%= result.rows[i].date %> </td>
				<td> <%= result.rows[i].title %> </td>
				<td> <%= result.rows[i].body %> </td>


				<form method="POST" action='/delete/comment/<%= result.rows[i].id %>'>
				<td> <button class="btn-delete"> delete </button> </td></form>

			</tr>
			<% } %>

		</table>




<!-- ______________________________POST NEW COMMENT ___________ -->


	<form method="POST" action="/add">

	<div class="container">
		<h1>new comment</h1>

		<fieldset>
			<label>Your name:</label>
			<input type="text" name="name">
		</fieldset>		

		<fieldset>
			<label>Title:</label>
			<input type="text" name="title">
		</fieldset>

		<fieldset>
			<label>Comment:</label>
			<input type="text" name="body">
		</fieldset>

		<fieldset>
			<button class="btn-post">post</button>
		</fieldset>
	</div>
	</form>
	

</body>
</html>